/* Write your CSS here */

.btn {
  background-color: #585076;
  height: 30px;
  width: 100px;
  border: 2px solid #c4c4c4;
  border-radius: 5px;
}

li {
  list-style-type: none;
  margin-right: 15px;
  margin-bottom: 15px;
}
